@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

@font-face { font-family: helioscondc-webfont; src: url("fonts/helioscondc-webfont.eot"); src: url("fonts/helioscondc-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/helioscondc-webfont.woff2") format("woff2"), url("fonts/helioscondc-webfont.woff") format("woff"), url("fonts/helioscondc-webfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: HeliosCondLight; src: url("fonts/HeliosCondLight.eot"); src: url("fonts/HeliosCondLight.eot?#iefix") format("embedded-opentype"), url("fonts/HeliosCondLight.woff2") format("woff2"), url("fonts/HeliosCondLight.woff") format("woff"), url("fonts/HeliosCondLight.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: heliosextc-webfont; src: url("fonts/heliosextc-webfont.eot"); src: url("fonts/heliosextc-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/heliosextc-webfont.woff2") format("woff2"), url("fonts/heliosextc-webfont.woff") format("woff"), url("fonts/heliosextc-webfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }
.clear { clear: both; display: table; height: 0; }

body { font-size: 13px; line-height: 1.5; font-family: "Ubuntu", Arial, sans-serif; font-weight: 300; }

a { text-decoration: none; }

.out { position: relative; margin: 0 auto -302px; min-height: 100%; height: auto; *zoom: 1; }
.out:after { content: " "; display: table; clear: both; }

.l_container { position: relative; width: 970px; padding: 0 15px; margin: 0 auto; *zoom: 1; }
.l_container:after { content: " "; display: table; clear: both; }

.b_container { position: relative; width: 636px; float: left; *zoom: 1; }
.b_container:after { content: " "; display: table; clear: both; }

.c_container { position: relative; width: 274px; padding: 0 15px; float: right; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; *zoom: 1; }
.c_container:after { content: " "; display: table; clear: both; }

.first { position: relative; height: 482px; }

.header__top { position: relative; z-index: 120; }

.logo { margin: 8px 0; float: left; }
.logo a { background: url('../img/icons-s127cf909ad.png') 0 -391px no-repeat; width: 166px; height: 105px; display: block; font: 0/0 a; text-shadow: none; color: transparent; }

.top__call { float: right; width: 430px; }
.top__call .btn { float: right; margin-top: 20px; text-transform: uppercase; text-align: center; color: #FFF; }

.top__tel { position: relative; margin-top: 25px; margin-right: 50px; color: #FFF; font-size: 20px; border-bottom: 1px dotted #fff; float: left; }
.top__tel:hover { border-bottom-color: transparent; }

.icon_tel { position: absolute; top: 10px; left: -21px; background: url('../img/icons-s127cf909ad.png') 0 -128px no-repeat; width: 19px; height: 19px; }

.header__bottom { position: absolute; bottom: 0; height: 55px; width: 980px; left: 50%; margin-left: -490px; z-index: 110; }

.header__menu { position: relative; font-size: 0; float: left; }
.header__menu .has__sub:before { content: ""; position: absolute; bottom: -3px; width: 160px; height: 3px; background-color: #fb4752; z-index: 121; display: none; }
.header__menu .has__sub:after { content: ""; position: absolute; bottom: -7px; left: 75px; width: 0px; height: 0px; border-style: solid; border-width: 4px 3.5px 0 3.5px; border-color: #fb4752 transparent transparent transparent; z-index: 121; display: none; }
.header__menu_item { position: relative; display: inline-block; vertical-align: top; }
.header__menu_item:hover .header__submenu { display: block; }
.header__menu_item:hover.has__sub::before, .header__menu_item:hover.has__sub::after { display: block; }
.header__menu_link { display: block; font-size: 18px; color: #FFF; line-height: 55px; margin: 0 20px; font-family: "Ubuntu", Arial, sans-serif; font-weight: 400; }
.header__menu_link:hover { color: #fb4752; }
.header__menu_link:after { content: ""; position: absolute; top: 6px; right: 0; width: 1px; height: 42px; background-color: rgba(208, 208, 208, 0.6); }

.header__submenu { position: absolute; display: none; top: 56px; left: 0; width: 160px; padding: 17px 0 10px; box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.11); z-index: 120; background-color: #FFF; }
.header__submenu_item { position: relative; display: block; width: 80%; margin: 0 auto; }
.header__submenu_item:before { content: ""; position: absolute; top: 10px; left: -10px; background: url('../img/icons-s127cf909ad.png') 0 -506px no-repeat; width: 5px; height: 4px; }
.header__submenu_item:last-child a { border-bottom: none; }
.header__submenu_link { display: block; line-height: 26px; color: #747474; font-size: 15px; border-bottom: 1px solid #e1e1e1; }
.header__submenu_link:hover { color: #222121; }

.header__search { position: relative; margin-top: 15px; float: right; }
.header__search input { width: 232px; height: 30px; box-shadow: 0.956px 0.292px 2px 0px rgba(0, 0, 0, 0.03), inset 0.906px 0.423px 3px 0px rgba(0, 0, 0, 0.2); color: #fff; font-size: 15px; line-height: 28px; padding: 0 28px 0 14px; background-color: rgba(75, 75, 75, 0.4); font-family: "Ubuntu", Arial, sans-serif; font-weight: 300; }
.header__search button { position: absolute; background-color: transparent; top: 7px; right: 10px; background: url('../img/icons-s127cf909ad.png') 0 -186px no-repeat; width: 17px; height: 18px; }

.push { clear: both; height: 302px; }

.footer { position: relative; display: block; height: 305px; background-image: url("../img/f_bg.png"); *zoom: 1; }
.footer:after { content: " "; display: table; clear: both; }
.footer h3 { position: relative; color: #fff; text-transform: uppercase; font-size: 15px; font-family: "Ubuntu", Arial, sans-serif; font-weight: 700; }
.footer h3:before { content: ""; position: absolute; top: 8px; left: -12px; width: 6px; height: 6px; background-color: #fff; -webkit-border-radius: 50%; border-radius: 50%; }

.f_menu { width: 33%; float: left; margin-top: 15px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; *zoom: 1; }
.f_menu:after { content: " "; display: table; clear: both; }
.f_menu a { display: inline-block; color: #4B4B4B; font-size: 13px; vertical-align: top; line-height: 22px; text-decoration: underline; font-family: "Ubuntu", Arial, sans-serif; font-weight: 400; }
.f_menu a:hover { text-decoration: none; }

.f_contakt { margin-top: 15px; margin-left: 10px; }
.f_contakt_address, .f_contakt_tel p, .f_contakt_mail a { position: relative; color: #4B4B4B; font-size: 13px; vertical-align: top; line-height: 22px; font-family: "Ubuntu", Arial, sans-serif; font-weight: 400; }
.f_contakt_address { margin-left: 15px; }
.f_contakt_address:before { content: ""; position: absolute; top: 7px; left: -28px; background: url('../img/icons-s127cf909ad.png') 0 -157px no-repeat; width: 9px; height: 19px; }
.f_contakt_tel { position: relative; margin-left: 15px; }
.f_contakt_tel:before { content: ""; position: absolute; top: 7px; left: -28px; background: url('../img/icons-s127cf909ad.png') 0 -74px no-repeat; width: 13px; height: 18px; }
.f_contakt_mail { position: relative; margin-left: 15px; }
.f_contakt_mail a { display: block; text-decoration: underline; }
.f_contakt_mail a:hover { text-decoration: none; }
.f_contakt_mail:before { content: ""; position: absolute; top: 7px; left: -28px; background: url('../img/icons-s127cf909ad.png') 0 -50px no-repeat; width: 14px; height: 14px; }

.f_logo { margin-top: 15px; float: left; *zoom: 1; }
.f_logo:after { content: " "; display: table; clear: both; }

.f_logo_contant { position: relative; width: 200px; float: left; color: #4B4B4B; padding-left: 8px; margin-top: 5px; font-family: "Ubuntu", Arial, sans-serif; font-weight: 400; }
.f_logo_contant:before { content: ""; position: absolute; top: 3px; left: 0; width: 2px; height: 98%; background-color: #4B4B4B; }

.calc { float: right; margin-top: 50px; }

.copy { position: absolute; bottom: 12px; left: 50%; color: #DCDDDB; font-size: 13px; -moz-transform: translate(-50%, 0); -ms-transform: translate(-50%, 0); -webkit-transform: translate(-50%, 0); transform: translate(-50%, 0); font-family: "Ubuntu", Arial, sans-serif; font-weight: 400; }

.btn { text-transform: uppercase; text-align: center; color: #FFF; box-shadow: inset 0px -2px 0px 0px rgba(102, 2, 8, 0.73); font-family: "Ubuntu", Arial, sans-serif; font-weight: 400; }
.btn:hover { box-shadow: none; }

.btn__red { width: 180px; height: 30px; background-color: #EB404A; background: url('../img/icons-s127cf909ad.png') 0 0 no-repeat; width: 179px; height: 40px; }

.slider__wrap { position: absolute; top: 0; width: 100%; }

.slider { position: relative; margin: 0 auto; float: left; width: 100%; height: 482px; }
.slider .cycle-slideshow { overflow: hidden; }

.big-slider { *zoom: 1; }
.big-slider:after { content: " "; display: table; clear: both; }
.big-slider__item { position: static; top: 0; left: 0; width: 100%; z-index: 100; opacity: 1; visibility: hidden; display: block; height: 482px; }
.big-slider__img { position: absolute; width: 2000px; left: 50%; margin-left: -1000px; text-align: center; height: 482px; }
.big-slider__img img { height: 100%; width: auto; }

.slider .nav { position: absolute; bottom: 75px; left: 50%; -moz-transform: translate(-50%, 0%); -ms-transform: translate(-50%, 0%); -webkit-transform: translate(-50%, 0%); transform: translate(-50%, 0%); z-index: 130; *zoom: 1; }
.slider .nav button { margin-left: 5px; background: url('../img/icons-s127cf909ad.png') 0 -240px no-repeat; width: 19px; height: 17px; }
.slider .nav button:hover { -ms-transform: scale(1.1); -webkit-transform: scale(1.1); transform: scale(1.1); }
.slider .nav .is-active { background: url('../img/icons-s127cf909ad.png') 0 -214px no-repeat; width: 16px; height: 16px; }
.slider .nav:after { content: " "; display: table; clear: both; }

.js-big-slider-next { position: absolute; top: 50%; margin-top: -26px; right: 0; background: url('../img/icons-s127cf909ad.png') 0 -267px no-repeat; width: 52px; height: 52px; }

.js-big-slider-prev { position: absolute; top: 50%; margin-top: -26px; left: 0; background: url('../img/icons-s127cf909ad.png') 0 -329px no-repeat; width: 52px; height: 52px; }

.pages { position: absolute; left: 50%; top: 0; margin-left: -490px; height: 100%; z-index: 110; }

.big-slider__content { position: relative; height: 250px; width: 700px; top: 50%; -moz-transform: translate(0, -50%); -ms-transform: translate(0, -50%); -webkit-transform: translate(0, -50%); transform: translate(0, -50%); color: #FFF; text-align: center; margin: 0 auto; z-index: 110; }

.sl_container { position: absolute; left: 50%; top: 50%; font-family: "HeliosCondLight", Arial, sans-serif; font-weight: normal; -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
.sl_container h2 { font-size: 65px; color: #fb4752; line-height: 1; }
.sl_container p { font-size: 45px; color: #fff; line-height: 55px; }

.slick-slider { position: relative; display: block; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; }

.slick-list { position: relative; overflow: hidden; display: block; margin: 0; padding: 0; }
.slick-list:focus { outline: none; }
.slick-loading .slick-list { background: white slick-image-url("ajax-loader.gif") center center no-repeat; }
.slick-list.dragging { cursor: pointer; cursor: hand; }

.slick-slider .slick-list, .slick-track, .slick-slide, .slick-slide img { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.slick-track { position: relative; left: 0; top: 0; display: block; zoom: 1; }
.slick-track:before, .slick-track:after { content: ""; display: table; }
.slick-track:after { clear: both; }
.slick-loading .slick-track { visibility: hidden; }

.slick-slide { float: left; height: 100%; min-height: 1px; display: none; }
.slick-slide img { display: block; max-width: 100%; }
.slick-slide.slick-loading img { display: none; }
.slick-slide.dragging img { pointer-events: none; }
.slick-initialized .slick-slide { display: block; }
.slick-loading .slick-slide { visibility: hidden; }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }

.slick-prev, .slick-next { position: absolute; top: 50%; margin-top: -14px; font: 0/0 a; text-shadow: none; color: transparent; height: 50px; background: none; }
.slick-prev:focus, .slick-next:focus { outline: none; }
.slick-prev.slick-disabled, .slick-next.slick-disabled { opacity: 0.2; }
.slick-prev:before, .slick-next:before { height: 50px; line-height: 50px; }

.slick-prev { left: 0; }
.slick-prev:before { content: "←"; display: inline-block; vertical-align: middle; font-size: 61px; color: #fff; }

.slick-next { right: 0; }
.slick-next:before { content: "→"; display: inline-block; vertical-align: middle; font-size: 61px; color: #fff; }

.slick-dots { text-align: center; position: absolute; margin: 0; bottom: 0; left: 0; right: 0; }
.slick-dots li { position: relative; display: inline-block; padding: 0 3px; }
.slick-dots li.slick-active button { opacity: 0.3; box-shadow: none; }
.slick-dots li:before { display: none; }
.slick-dots button { display: block; width: 6px; height: 6px; background: #fff; -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25); -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25); box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25); cursor: pointer; font: 0/0 a; text-shadow: none; color: transparent; border-radius: 50%; }
.slick-dots button:hover { box-shadow: none; }

.contant { background: #fff url("../img/cont1.png") no-repeat 100% 0%; background-size: cover; *zoom: 1; }
.contant:after { content: " "; display: table; clear: both; }
