// # SHORT HOWTO
// ## Sprites
//     .whatever
//          +sized-sprite($icons, coderiver) //or
// 			+s(codedby) //gets default value for spritemap as $icons
// ### animation example
//     +include keyframes(rotate)
//        from
//           +rotate(0)
//        to
//           +rotate(360)
// ## animation usage
//     body:hover
// 	    +animation(rotate 200s linear infinite)
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in)
// ## gradient example
//     +background-image(linear-gradient(#232323, #5c5c5c));
//     +g(#232323, #5c5c5c);
//	   horizontal
//     +gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +min-screen(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts
// Save fonts to /css/fonts, after that write (eot, woff, ttf):
// +font(book, cytiapro-black-webfont)
// =book
// 	font-family: "book", Arial, sans-serif
// insert pics into css
// div
// 	+pic("blabla.png")
// span
// 	+png(blabla)
// p
// 	+jpg(bla)
+font(helioscondc-webfont, helioscondc-webfont)
+font(HeliosCondLight, HeliosCondLight)
+font(heliosextc-webfont, heliosextc-webfont)
=hr
	font-family: 'helioscondc-webfont', Arial, sans-serif
	font-weight: normal
=hl
	font-family: 'HeliosCondLight', Arial, sans-serif
	font-weight: normal
=hs
	font-family: 'heliosextc-webfont', Arial, sans-serif
	font-weight: normal
=ul
	font-family: 'Ubuntu', Arial, sans-serif
	font-weight: 300
=un
	font-family: 'Ubuntu', Arial, sans-serif
	font-weight: 400
=ub
	font-family: 'Ubuntu', Arial, sans-serif
	font-weight: 700
=osb
	font-family: 'OpenSans', Arial, sans-serif
	font-weight: 800
.clear
	clear: both
	display: table
	height: 0

body
	font-size: 13px
	line-height: 1.5
	+ul

$n: transparent
$red: #fb4752
$tc: #4B4B4B
// common blocks
a
	text-decoration: none

.out
	position: relative
	margin: 0 auto -302px //-302 footer height
	min-height: 100%
	height: auto
	+clr

.l_container
	position: relative
	width: 970px
	padding: 0 15px
	margin: 0 auto
	+clr
.b_container
	position: relative
	width: 636px
	float: left
	padding: 0 15px
	+box
	+clr
.c_container
	position: relative
	width: 304px
	padding: 0 15px
	float: right
	+box
	+clr

.header
	position: relative
	height: 145px
	background-image: url("../img/header.png")
	+clr

.first
	position: relative
	height: 529px
.header__top
	position: relative
	z-index: 120
.logo
	margin: 8px 0
	float: left
	a
		+s(t_logo)
		display: block
		+hide-text

.top__call
	float: right
	width: 400px
	.btn
		float: right
		margin-top: 18px
		text-transform: uppercase
		text-align: center
		color: #FFF
		font-size: 15px
		+un
.top__tel
	position: relative
	margin-top: 21px
	margin-right: 50px
	color: #FFF
	font-size: 20px
	border-bottom: 1px dotted #fff
	float: left
	&:hover
		border-bottom-color: $n
.icon_tel
	position: absolute
	top: 10px
	left: -21px
	+s(icon_tel)

.header__bottom
	position: absolute
	bottom: 0
	height: 55px
	width: 980px
	left: 50%
	margin-left: -490px
	z-index: 110

.header__menu
	position: relative
	font-size: 0
	float: left
	.has__sub
		&:before
			content: ""
			position: absolute
			bottom: -3px
			width: 160px
			height: 3px
			background-color: $red
			z-index: 121
			display: none
		&:after
			content: ""
			position: absolute
			bottom: -7px
			left: 75px
			+arr(7, 4, $red, b)
			z-index: 121
			display: none
	&_item
		position: relative
		display: inline-block
		vertical-align: top
		&:hover
			.header__submenu
				display: block
			&.has__sub::before,
			&.has__sub::after
				display: block
	&_link
		display: block
		font-size: 18px
		color: #FFF
		line-height: 55px
		margin: 0 20px
		+un
		&:hover
			color: $red
		&:after
			content: ""
			position: absolute
			top: 6px
			right: 0
			width: 1px
			height: 42px
			background-color: rgba(208, 208, 208, .6)

.header__submenu
	position: absolute
	display: none
	top: 56px
	left: 0
	width: 160px
	padding: 17px 0 10px
	box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.11)
	z-index: 120
	background-color: #FFF
	&_item
		position: relative
		display: block
		width: 80%
		margin: 0 auto
		&:before
			content: ""
			position: absolute
			top: 10px
			left: -10px
			+s(td)
		&:last-child a
			border-bottom: none
	&_link
		display: block
		line-height: 26px
		color: #747474
		font-size: 15px
		border-bottom: 1px solid #e1e1e1
		&:hover
			color: #222121
.header__search
	position: relative
	margin-top: 15px
	float: right
	input
		width: 194px
		height: 30px
		box-shadow: 0.956px 0.292px 2px 0px rgba(0, 0, 0, 0.03),inset 0.906px 0.423px 3px 0px rgba(0, 0, 0, 0.2)
		color: #fff
		font-size: 15px
		line-height: 28px
		padding: 0 28px 0 14px
		background-color: rgba(75, 75, 75, .4)
		margin-right: 10px
		+ul
	button
		position: absolute
		background-color: $n
		top: 7px
		right: 10px
		+s(lupa)

// ######### footer

.push
	clear: both
	height: 302px
.footer
	position: relative
	display: block
	background-image: url("../img/f_bg.png")
	padding-top: 15px
	+clr
	h3
		position: relative
		color: #fff
		text-transform: uppercase
		font-size: 15px
		+ub
		&:before
			content: ""
			position: absolute
			top: 8px
			left: -12px
			width: 6px
			height: 6px
			background-color: #fff
			-webkit-border-radius: 50%
			border-radius: 50%
	&__contant
		margin-left: 15px
		width: 100%
		display: table
		// table-layout: fixed
		ul
			width: 23%
.f_menu
	display: table-cell
	// padding-left: 150x
	width: 26%
	+box
	+clr
	a,
	p
		position: relative
		display: block
		color: #4B4B4B
		font-size: 13px
		vertical-align: top
		line-height: 22px
		text-decoration: underline
		+un
		&:hover
			text-decoration: none
	p
		text-decoration: none
.f_contakt
	&_address,
	&_tel p,
	&_mail a
		position: relative
		color: #4B4B4B
		font-size: 13px
		vertical-align: top
		line-height: 22px
		+un
	&_address
		margin-left: 15px
		&:before
			content: ''
			position: absolute
			top: 7px
			left: -28px
			+s(locate)
	&_tel
		position: relative
		margin-left: 15px
		&:before
			content: ''
			position: absolute
			top: 7px
			left: -28px
			+s(f_tel)
	&_mail
		position: relative
		margin-left: 15px
		a
			display: block
			text-decoration: underline
			&:hover
				text-decoration: none
		&:before
			content: ''
			position: absolute
			top: 7px
			left: -28px
			+s(f_mail)
.f_logo
	margin-top: 37px
	float: left
	// margin-bottom: -13px
	+clr
	a
		height: 92px
.f_logo_contant
	position: relative
	width: 200px
	float: left
	color: #4B4B4B
	padding-left: 8px
	margin-top: 5px
	margin-left: 5px
	+un
	&:before
		content: ""
		position: absolute
		top: 3px
		left: 0
		width: 2px
		height: 98%
		background-color: #4B4B4B

.calc
	float: right
	margin-top: 70px

.copy
	position: absolute
	bottom: 11px
	left: 50%
	color: #DCDDDB
	font-size: 13px
	+translate(-50%, 0)
	+un













































































